.DS_Store
Thumbs.db
*.iml
.idea/
.ipr
.iws
.tmp/
*~
~*
*.diff
*.patch
*.bak
.project
.*proj
.svn/
*.swp
*.pyc
*.pyo
.build/
bower_components/
node_modules/
.vscode/
*.log
**/.*
!.editorconfig
!.gitignore
!.babelrc
!.eslintrc
!.npmignore
run/
*-run/
